[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=Agri-Vision
Comment=
Exec=/root/agri-vision/autostart &
StartupNotify=false
Terminal=false
Hidden=false

